aiohttp
beautifulsoup4
openpyxl
pytest
requests
zipfile
pytest
unittest.mock
patch
pyspark.sql

NOTE: You need to import these libraries using pip install command or directly import on colab cell, if you haven't installed yet!

Here is what you need to focus on while you are running the script of My_Program.py file:

1) To check the current working directory in Google Colab, you can use the following Python code:

import os

print(os.getcwd())

2) To list all the files in the current working directory of Google Colab:

import os

files = os.listdir()

print(files)

3) If you want to check a specific directory:

import os

files = os.listdir('/content')

print(files)

4) To view or extract the contents of a ZIP file located in the Google Colab working directory:

zip_file_path = 'hockey_stats.zip'

with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:

    file_list = zip_ref.namelist()

    print(file_list)

PLEASE KEEP THESE IN MIND ONCE THE CODE IN MY_Program.py GETS EXECUTED!
