aiohttp
beautifulsoup4
openpyxl
pytest
requests
zipfile
pytest
unittest.mock
patch
pyspark.sql

NOTE: You need to import these libraries using pip install command or directly import on colab cell, if you haven't installed yet!
